# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.env
*.venv/
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# dotenv
.env
.env.*

# Migrations (optional if you want to recreate migrations)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.log

# Tests
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.cache/

# Build
build/
dist/
*.egg-info/
.eggs/
